.background{
    background-image: url('bg.png');
    background-size: contain;
    height: 400vh;
    width: 100%;   
    background-attachment: fixed;
}
@media only screen and (max-width: 600px) {
    .background {
        height: 150vh;
    }

}